*{
  margin: 0;
  padding: 0;

}

.wide-header{
  padding-top: 4.3em;
  background-image: url("../img/header-background.jpg");
  background-size: cover;
  font-size: 14px;
  .header-container{
    max-width: 1795px;
    margin: 0 auto;
    display: block;

  }
  &--desc{
    &__title{
      font-family: 'Montserrat', sans-serif;
      font-size: 2.2em;
      text-align: center;
      font-weight: bold;

      color: #FFF;

    }
    &__paragraph{
      padding: 0.8em 0em 2.1em 0em;
      font-family: 'Montserrat', sans-serif;

      text-align: center;
      font-weight: lighter;
      font-size: 1.45em;

      color: #FFF;


    }

  }
  &--main{
    max-width: 1020px;
    display: flex;
    justify-content: center;
    justify-self: center;
    margin: 0 auto;

    padding-bottom: 3em;

    &__left-block{
      ul{
        margin-top: 3em;
        display: flex;
        flex-direction: column;

        font-family: 'Montserrat', sans-serif;
        list-style: none;
        li{
          a{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            padding: 1em 1.15em;
            min-width: 315px;

            background-color: #1e004c;
            cursor: pointer;
            transition: all 0.15s ease-out;

            color: #FFF;
            font-size: 1.15em;
            text-decoration: none;
            align-self: center;

            text-transform: uppercase;
            div{
              display: flex;
              align-items: center;
              p{
                margin-left: 1.3em;
                display: flex;
                align-self: center;

              }

            }
            &:hover{
              .arrow-right-svg{
                fill: #fd005d;

              }
              background-color: #52367e;

            }

          }
          &:first-child{
             a{
               border-top-left-radius: 1em;

             }

           }
          &:last-child{
            a{
              border-bottom-left-radius: 1em;
              box-shadow: 1.5px 2px 15px -2px #535151;

            }

          }

        }

      }

    }
    &__center-block{

    }
    &-options__block{
      background-color: #FFF;
      border-radius: 0.8em;
      box-shadow: 1.5px 2px 15px -2px #535151;
      a{
        text-decoration: none;
        color: #1e004c;

      }
      .options__block--top{
        padding: 1.5em;
        p{
          text-transform: uppercase;
          text-align: center;

          font-family: 'Montserrat', sans-serif;
          font-weight: lighter;
          font-size: 1.25em;
        }
        svg{
          display: block;
          margin: 0 auto;

        }

      }
      .options__block--bottom{
        font-size: 14px;
        .row{
          flex-direction: row;
          display: flex;
          justify-content: space-around;

        }
        &__item{
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-top: solid 0.5px #b7b7b7;

          cursor: pointer;
          color: #FFF;
          p{
            font-family: 'Roboto', sans-serif;
            font-size: 1em;
            color: #1e004c;
            padding: 0.6em 1em 0.65em 1em;
            text-align: center;

          }
          svg{
            padding: 0.65em 2.4em 0em 2.4em;
            display: block;
            margin: 0 auto;

          }
          &:hover{
            p{
              color: #fd005d;
            }
            svg{
              fill: #fd005d;

            }
            background-color: #f7f7f7;

          }
          &:nth-child(1), &:nth-child(2) {
            border-right: solid 1px #b7b7b7;

          }

        }
        .options-border-bottom{
          .options__block--bottom__item{
            &:nth-child(1){
              border-bottom-left-radius: 0.8em;

            }
            &:nth-child(3){
              border-bottom-right-radius: 0.8em;

            }

          }

        }

      }

    }
    &__right-block{
      margin-top: 3em;
      .row{
        display: flex;
        flex-direction: row;

      }
      .right-block__item{
        border-radius: 1em;
        background-color: #FFF;
        transition: all 0.1s ease-out;
        box-shadow: 1.5px 2px 15px -2px #535151;

        padding: 1.7em 0.5em;
        margin: 0em 0em 1.1em 1.1em;
        min-width: 150px;

        cursor: pointer;
        text-decoration: none;
        color: #1e004c;

        p{
          padding: 0.35em 0.3em 0em 0.3em;

          font-size: 0.9em;
          font-family: 'Montserrat', sans-serif;

          text-transform: uppercase;
          text-align: center;

          font-weight: 500;

        }
        svg{
          display: block;
          margin: 0 auto;

        }
        &:hover{
          background-color: #1e004c;
          p{
            color: #FFF;

          }

        }

      }

    }

  }

}

/* MEDIA QUERIES */

@media screen and (max-width: 1120px){
  .wide-header{
    font-size: 13px;
    &__desc{
      padding: 0em 1em;
    }
    &--main{
      flex-direction: column;
      max-width: 920px;
      justify-content: center;
      padding: 0em 1em;
      &__right-block{
        .right-block__item:nth-child(1){
          margin-left: 0;

        }
        .row{
          justify-content: center;

        }

      }
      &__left-block{
        ul{
          li{
            &:first-child{
              a{
                border-top-right-radius: 1em;

              }

            }
            &:last-child{
              a{
                border-radius: 0em;

              }

            }

          }

        }

      }
      &-options__block{
        border-top-left-radius: 0em;
        border-top-right-radius: 0em;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;

      }
      .options-border-bottom{
        .options__block--bottom__item{
          &:nth-child(1){
            border-bottom-left-radius: 0em;

          }
          &:nth-child(3){
            border-bottom-right-radius: 0em;

          }

        }

      }
      .options__block--bottom__item{
        flex-grow: 1;

      }

    }

  }
  
}

@media screen and (max-width: 400px){
  .wide-header{
    font-size: 11px;
    &--main{
      padding: 0em;
      &__left-block{
        ul{
          li{
            a{
              min-width: auto;
              max-width: 400px !important;

            }
            &:first-child{
              a{
                border-radius: 0em !important;

              }

            }

          }

        }

      }
      &__right-block{
        .row{
          flex-direction: column;

        }
        .right-block__item{
          margin: 1em 1em 1em 1em !important;

        }

      }
      &-options__block{
        margin-top: 3em;
        border-radius: 0px !important;
        .options__block--bottom{
          .row{
            flex-direction: column !important;

          }
          &__item{
            border-top: solid 1px #b7b7b7;
            border-right: none !important;

          }

        }

      }

    }

  }

}